<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726368023189-1q772lvd2emhjciqis3q8vh6848c62fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726368023189-1q772lvd2emhjciqis3q8vh6848c62fp</string>
	<key>API_KEY</key>
	<string>AIzaSyCCQPodMjWYfLHJgj4BAdSQA_MXC3DBMkk</string>
	<key>GCM_SENDER_ID</key>
	<string>726368023189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app2023-5c2c0</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app2023-5c2c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726368023189:ios:e0462f282bd1338ef2a19c</string>
</dict>
</plist>