<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZkgQ3ifW1pOcWA5RdbtfVa1o-8RLHthc</string>
	<key>GCM_SENDER_ID</key>
	<string>150343658549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp2023-40b74</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp2023-40b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150343658549:ios:c05e4ebcb2b0648b64957c</string>
</dict>
</plist>